#sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    .input{
        height: 30px;
        border-radius: 10px;
        width: 200px;
        font-size: 18px;
        padding: 5px;
        
    }
    .btn{
        margin-top: 20px;
        width: 200px;
        height: 30px;
        background-color: #fff;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-2;
        font-size: 19px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        
       }
}
.error{
    color: $color-1;
    
}
