.header{
    height: 80px;
    width: 100%;
    background-color: $color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    img{
        width: 150px;
        
    }
}



