.menu{
    width: 250px;
    height: 100vh;
    background-color: $color-2;
    border-right: 2px solid $color-3;
    position: fixed;
    nav{
        display: flex;
        flex-direction: column;
        a{
            margin-top: 60px;
            display: flex; 
            margin-left: 50px;
            font-size: 20px;
            color: $color-3;
            &:hover{
                color: $color-1;
            }
            i{
                margin-right: 10px;
            }
        }
    }
}
.filActu{
    display: flex;
    
}
.test{
    height: 1600px;
    width:75%;
    background-color: $color-3

}
.test2{
    height: 1600px;
    width: 25%;
    background-color: $color-3;
    border-left: 2px solid $color-2;
    

    
}