.post{

    width: 85%;
    margin: auto;
    height: auto;
    background-color: rgb(231, 233, 234);
    margin-bottom: 5px;
    border: 1px solid #999; 
    padding: 20px 10px 20px 10px;
    @media (max-width :830px){
        width: 100%;
    }
    .date{
        color: #999;
        font-size: 12px;
        margin-top: -12px;
    }
    .textPost{ 
        height: auto;
        width: 100%;
        min-height: 40px;
        margin-bottom: 3px;
        padding: 3px;
        word-wrap: break-word;
        font-size: 14px;
    }
    img{
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
}
.boutonDelete{
    margin-top: 15px;
    width: 75px;
    height: 25px;
    border-radius: 7px;
    color: #fff;
    background-color: $color-3;
    margin-left: 8px;
}